# Entorno virtual
venv/
env/
.virtualenv/

# Archivos de Python
__pycache__/
*.py[cod]
*.so
.Python

# Datos generados
data/
*.csv
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db